/* Cart.module.css */
.cartContainer {
 
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cartHeader {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  